extends layouts/main-layout.pug 

block content
        form.main-form(action="/admin/add-product", method="POST")
            input.input(type="text", name="title")
            button.dugme(type="submit") Add Product   
    
