    <main class="main-content">
        <form class="main-form" action="/admin/add-product" method="POST">
            <input class="input" type="text" name="title">
            <button class="dugme" type="submit">Add Product</button>
        </form>
    </main>
