extends layouts/main-layout.pug 

block content
        if prods.length > 0
            .naslov
                h1 Product
                each proizvod in prods
                    p  #{proizvod.title}
        else 
            .naslov
                h1 Nema nista