<%- include('../includes/head.ejs') %>
</head>
<body>
<%- include('../includes/navigation.ejs') %>
    


<h1>Home Page test</h1>
<main class="main-content">
    <h1>Maintence Page</h1>
    </main>

<%- include('../includes/end.ejs') %>