<%- include('../includes/head.ejs') %>
</head>
<body>
<%- include('../includes/navigation.ejs') %>


<main class="main-content">
    <form class="main-form" action="/users" method="GET">
            <img src="/img/logo-black.png" width="180px" alt="Logo">
            <input class="input" type="text" name="username" placeholder="Username">
            <input class="input" type="password" name="description" placeholder="Password...">
            <button class="dugme" type="submit">Add Product</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>